[2015-04-24 01:29] marcerebrum opened #1 "Invalid API key and can not access the settings again."
Hello,

See attached images.

When insert api key occurred this error.

"Invalid API key"

I can not access module settings again.

Store > Configuration > MageMonkey > Mandrill

![captura de tela de 2015-04-23 22 23 12](https://cloud.githubusercontent.com/assets/2263217/7310756/e351ec60-ea07-11e4-8417-d91a2ec90a8d.png)
![captura de tela de 2015-04-23 22 23 20](https://cloud.githubusercontent.com/

[2015-04-24 01:57] gonzaloebiz commented on #1
What is your MageMonkey version?
I'm trying to reproduce this, and i can't. The fast way is, delete the entry in core_config_data for path = 'mandrill/general/apikey'
Keep in mind, you must enter the mandrill api key,not the mailchimp api key

Best

[2015-05-05 00:15] marcerebrum commented on #1
Hello,

See errors after include email in field subscribe.

![captura de tela de 2015-05-04 21 06 08](https://cloud.githubusercontent.com/assets/2263217/7465188/9324b1ca-f2a2-11e4-8dfb-48b651354ec4.png)
![captura de tela de 2015-05-04 21 06 24](https://cloud.githubusercontent.com/assets/2263217/7465187/932216cc-f2a2-11e4-908d-5d0bf91d9dc3.png)

[2015-05-05 02:51] gonzaloebiz commented on #1
Hi,

the extension is waiting  a magento2 pr https://github.com/magento/magento2/pull/1183
We modify some classes in the core, so you must wait until the pr is approved

Best

[2015-07-14 05:11] #1 closed, assigned to gonzaloebiz

[2015-09-18 01:52] comunidademagento opened #2 "Invalid block type: Ebizmarts\MageMonkey\Block\Adminhtml\System\Config\Fieldset\Hint"
Generate this error when access ...

Menu > System > Magemonkey > Magemonkey

Invalid block type: Ebizmarts\MageMonkey\Block\Adminhtml\System\Config\Fieldset\Hint
#0 /home/magento2ubuntu1404/dados/public_html/magento2-1.0.0-beta-dev01/magento2/lib/internal/Magento/Framework/View/Layout/Generator/Block.php(237): Magento\Framework\View\Layout\Generator\Block->getBlockInstance('Ebizmarts\MageM...', A

[2015-09-18 14:40] gonzaloebiz commented on #2
Check if you have this file https://github.com/ebizmarts/magento2-magemonkey/blob/master/Block/Adminhtml/System/Config/Fieldset/Hint.php in your installation.
If not, please reinstall the extension or download the file from github

Best

[2015-09-30 18:14] #2 closed, assigned to nobody

[2016-02-06 04:31] arvenom opened #4 "Ressource Colletion"
When trying to compile I get this error:
Fatal error: Class 'Magento\Framework\Model\Resource\Db\Collection\AbstractCollection'
Changing from Model/Resource to Model/ResourceModel fixes that but after trying to run compiler again it fails with this:

Ebizmarts\Mandrill\Block\Adminhtml\System\Config\Form\Field\MagentoTemplates
        Incorrect dependency in class Ebizmarts\Mandrill\Block\Adminhtml

[2016-02-08 13:11] SantiParagarino commented on #4
Hello @arvenom,

Thanks for letting us know this. I'll try to address this issue today.

[2016-02-09 15:42] gonzaloebiz commented on #4
This is fixed in Release 3.0.1

Thanks for your contribution @arvenom

[2016-02-09 15:42] #4 closed, assigned to gonzaloebiz

[2016-04-01 01:07] lazyguru opened #7 "\Psr\Log\LoggerInterface already exists in context object"
setup:di:compile-multi-tenant fails due to:

Incorrect dependency in class Ebizmarts\Mandrill\Helper\Data in vendor/ebizmarts/magento2-mandrill/Helper/Data.php \Psr\Log\LoggerInterface already exists in context object

This line is the cause: https://github.com/ebizmarts/magento2-mandrill/blob/master/Helper/Data.php#L31

Instead of requesting that LoggerInterface be injected you should get it from

[2016-04-07 18:47] #7 closed, assigned to nobody

[2016-04-26 21:19] dexterityzx opened #8 "Mandrill issue with subscriber"
I found that whenever I installed Mandrill module, the subscription function will fail. I will show “Something went wrong with the subscription.” And I track the code and found it threw an exception from sendConfirmationRequestEmail(). Can you check this? Thank you.

[2016-04-28 08:05] thuydx opened #9 "Bugs: Wrong argument data type after saved $apiKey"
[code]

Recoverable Error: Argument 1 passed to Ebizmarts\Mandrill\Model\Api\Mandrill::__construct() must be an instance of Ebizmarts\Mandrill\Helper\Data, string given, called in app/code/Ebizmarts/Mandrill/Model/Api/Mandrill.php on line 31 and defined in app/code/Ebizmarts/Mandrill/Model/Api/Mandrill.php on line 27

[2016-04-28 14:55] gonzaloebiz commented on #9
Hi @thuydx

thanks for your feedback
Can you specify how to reproduce it?

Best

[2016-04-29 04:13] thuydx commented on #9
Login to admin side.
Stores >> Configuration >> MageMonkey >> Mandrill

Enabled: Yes
API Key:  your-api-key
....
After save config that error appeared
When I debug:

[code]

Please recheck when have data saved to db

[2016-05-04 16:07] maderlock opened #10 "Even if disabled causes error when signing up after checkout"
Having installed the module in 2.0.4, I completed the checkout and clicked on the button to create a new account. I get the following error:

[code]

It looks like Mandrill is trying to send the email even though it's disabled, and complaining because if there is no API key set then it never creates a Mandrill object for sending.

[2016-05-04 16:26] maderlock commented on #10
Taking a look at this method, it replaces the normal class via DI. That would not be an issue, but when adding in the scopeConfig into the constructor it appears that the Message class manually initialises the Transport class rather than using DI, so additional parameters such as the scopeConfig and/or a fall-back Transport class are not automatically filled by DI. It would be best to remove this

[2016-05-17 04:38] rajajitesh opened #11 "Fatal error: Class 'Mandrill' not found in app/code/Ebizmarts/Mandrill/Model/Api/Mandrill.php on line 31"
I have recently installed Mage Money from store.ebizmarts.com, but I have been getting this error whenever I try to add my mail chimp API key.

[2016-05-17 12:42] gonzaloebiz commented on #11
Hi @rajajitesh,

you have Mandrill installed?
Try to run composer require mandrill/mandrill

Best

[2016-05-18 23:18] rajajitesh commented on #11
@gonzaloebiz  Thanks. It worked now.

[2016-05-18 23:18] #11 closed, assigned to nobody

[2016-05-23 12:51] maderlock commented on #10
Any progress?

[2016-05-23 12:52] centerax commented on #10
Hi @maderlock

Apologies for the delay, we will take a look and get back to you

[2016-05-31 10:03] avra911 commented on #9
I am getting:

[code]

[2016-05-31 10:09] avra911 opened #12 "Cannot save configuration"
When using this field, there is a javascript error in console and a loading gif appear and does not save the data:

[code]

Without this field it works!

See: https://nimbus.everhelper.me/client/notes/share/483842/b3gsid4kyazz50t2bwxi
Same thing on magento 2.0.4 as well as on 2.0.7.

[2016-05-31 11:19] avra911 commented on #12
Sorry, we had some corrupted files

[2016-05-31 13:26] avra911 commented on #12
I noticed that just removing this part of the field declaration:

[code]

makes the save working.

[2016-05-31 17:09] gonzaloebiz commented on #12
You have the mandrill/mandrill lib installed?
Run
composer require mandrill/mandrill

[2016-05-31 17:09] #12 closed, assigned to nobody

[2016-05-31 17:11] gonzaloebiz commented on #9
Hi @thuydx

i just try with magento 2.0.7 and works fine.
What version of ebizmarts/magento2-mandrill do you have?

[2016-05-31 17:12] gonzaloebiz commented on #8
You have the mandrill/mandrill lib installed?
Try run

composer require mandrill/mandrill

Best

[2016-05-31 17:13] gonzaloebiz commented on #10
Hi @maderlock

you have the lib mandrill/mandrill installed?
Try running

composer require mandrill/mandrill

Best

[2016-06-01 05:06] avra911 commented on #12
Isn't that installed by ebizmarts requirements automatically?

[code]

Why did you closed the issue @gonzaloebiz ?

[2016-06-01 05:13] avra911 commented on #12
Isn't installed by ebizmarts composer as requirements?

[code]

[code]

It is an UI problem, most probably a magento bug which affects you. Thought you have any ideas.
Please read again my test case, because I edited a few times.

I will also created a fresh installation of magento and come back to you!

Best,
R

[2016-06-01 08:16] avra911 commented on #12
Alright, here are updates on a fresh installation.

The save button works, however the field `account_details` is not hidden/show on enable/disable option select. Same for `mandrill_general_test_email` field.

Best,
Razvan

[2016-06-02 11:51] avra911 opened #13 "System Config dependent attributes now working for account_details and test_email fields"
The field account_details is not hidden/show on enable/disable option select. Same for mandrill_general_test_email field on backend configuration settings page.

Best,
Razvan

[2016-06-02 11:51] avra911 commented on #12
moved to new issue: https://github.com/ebizmarts/magento2-mandrill/issues/13

thanks,
R

[2016-06-06 09:06] kilis opened #14 "Wrong structure for replay to header"
Hi,
I have found a bug while creating Replay To header for my app.
When i send email this structure is created.
`{
    "message": {
        "subject": "Product Questions",
        "from_name": "Smth",
        "from_email": "no-replay@Smth.com",
        "to": [
            {
                "email": "kristapss@Smth.com"
            }
        ],
        "headers": [
            {
                "Re

[2016-06-13 10:51] maderlock commented on #10
ebizmarts/magento2-mandrill has mandrill/mandrill as a requirement so this is installed automatically when ebizmarts/magento2-mandrill is pulled in via composer.

e.g.

[code]

Outcome:

[code]

[2016-06-13 11:02] maderlock commented on #8
This looks like it might be the same issue as #10

[2016-06-21 09:27] maderlock commented on #10
Any progress?

[2016-07-18 20:39] maderlock commented on #10
Any progress?

[2016-07-18 20:40] maderlock commented on #10
Hello? Anyone there? This is a major bug. Does anyone care?

[2016-07-26 16:50] SantiParagarino commented on #10
Hello @maderlock,

Sorry for the delay. I will try to take a look at this today.

Regards.

[2016-08-03 16:09] HellgaM commented on #10
Hi, is there any progress?

[2016-09-05 16:01] peccopi opened #15 "Customer registration bug - Customer could not saved"
After create customer Account the message "Customer could not saved" returned.
But the Customer is successfully created and can find in backend.
Mage Monkey Module 3.0.6 is configured other modules actually not.

[2016-09-05 16:41] SantiParagarino commented on #15
Hello @peccopi ,

Oh so the problem is when Mandrill is not enabled. You should be able to get that working properly running the command **magento module:disable Ebizmarts_AutoResponder Ebizmarts_AbandonedCart Ebizmarts_Mandrill**

If this doesn't solve your problem we can re-open this issue.

Regards.

[2016-09-05 16:41] #15 closed, assigned to nobody

[2016-09-06 14:58] peccopi commented on #15
Hi,
do disable the other modules solve thre problem.
Thank you !

[2016-09-06 15:07] SantiParagarino commented on #15
Great to hear that!

You are welcome!

[2016-09-09 06:24] dungnv opened #16 "Exception #0 (Exception): Notice: Undefined variable: key in vendor/ebizmarts/magento2-magemonkey/Model/MCAPI.php on line 179"
Exception #0 (Exception): Notice: Undefined variable: key in vendor/ebizmarts/magento2-magemonkey/Model/MCAPI.php on line 179

[2016-09-09 06:24] #16 closed, assigned to nobody

[2016-11-03 08:28] vasilii-b opened #17 "PHP error on Autoresponder Config page"
url `../admin/system_config/edit/section/autoresponder/key/aa8ae337d.../`

[code]

[2016-11-16 17:55] SantiParagarino commented on #17
Hello @vasilii-b,

This is related to [AutoResponder](https://github.com/ebizmarts/magento2-autoresponder) module not Mandrill.

Regards,

[2016-11-16 18:41] SantiParagarino commented on #10
Hello,

Sorry for the delay. This should be solved in the latest version of the extension.

[2016-11-16 18:41] #10 closed, assigned to gonzaloebiz

[2016-11-16 18:42] SantiParagarino commented on #13
Hello,

Sorry for the delay. This should be solved on the latest version.

[2016-11-16 18:42] #13 closed, assigned to gonzaloebiz

[2016-11-16 18:42] #9 closed, assigned to gonzaloebiz

[2016-11-16 18:43] SantiParagarino commented on #8
Hello,

Sorry for the delay. This is solved for the latest version of the extension.

[2016-11-16 18:43] #8 closed, assigned to gonzaloebiz

[2016-11-22 06:35] vasilii-b commented on #17
OK then, sorry for the issue here.

[2016-11-22 10:55] centerax commented on #17
This issue was moved to ebizmarts/magento2-autoresponder#6

[2016-11-22 10:55] #17 closed, assigned to nobody

[2017-01-27 12:19] pushonscott opened #19 "Customer creation email trigger even if module is disabled?"
Installed the module and set to disabled (as we are not ready for production yet.). However, when i try to create a new customer, i receive the notice:

`Notice: Trying to get property of non-object in vendor/ebizmarts/magento2-mandrill/Model/Transport.php on line 84`

Which is causing a magento exception to be thrown:

`Something went wrong while saving the customer.`

Should mandril try to be us

[2017-02-06 16:10] pushonscott commented on #19
Any updates on this @gonzaloebiz?

[2017-02-08 15:41] dcarnelutti opened #20 "Mail cant be sent"
Im trying to send emails from my magento2. Im getting this message.

Im using Magento 2.1.3
Mandrill is configured, Mailchimp is also properly configured

Any ideas?

`[2017-02-08 15:38:04] main.CRITICAL: Exception message: The message should be an instance of \Zend_Mail
Trace: #0 /var/www/html/mg/vendor/bogardo/mailgun-magento2/Mail/Transport.php(39): Magento\Framework\Mail\Transport->__construct

[2017-02-08 15:47] gonzaloebiz commented on #20
Hi @dcarnelutti

thanks for your contact.
I think you have a conflict with mailgun extension

Best

[2017-02-08 15:47] #20 closed, assigned to nobody

[2017-02-09 10:49] clivewalkden opened #21 "Log setting not used Mandrill not sending mail"
Hi,

You have a log setting in the admin but I'm not seeing any logs being generated when I turn it on. Looking through the source code I can't see it actually being called in anywhere.

As my installation isn't sending any mail through Mandrill a log of what is happening would be helpful.

Kind regards,

Clive

[2017-02-12 15:51] sinisa86 opened #22 "Exception occurred during setting up Mandrill API key"
### Situation - How did you get there?
Stores -> Configuration -> Mandrill. I've set up MageMonkey API key and it was good after save.
Later, I've set up Mandrill API key, and after save it has thrown an Exception.

### Problem - What went wrong?
I got exception after click on Save during Mandrill API key set up.
(Exception stack trace is at the end)

### Possible solution - How should it be?
Look

[2017-02-13 13:08] SantiParagarino commented on #22
Hello @sinisa86
That error is telling you that the Mandrill library is not being found in your Magento installation.
This is why we always recommend to install Magento 2 extensions via composer.
With composer you can get the missing library with the command **composer require mandrill/mandrill**

Regards,

[2017-02-13 13:08] #22 closed, assigned to nobody

[2017-02-13 13:22] SantiParagarino commented on #21
Hello,

You should see errors showin up in the Magento log files anyways. Please make sure you have the latest version installed via composer. This is the best way to make sure everything has been set up properly.

Please check [this guidelines](https://github.com/ebizmarts/magento2-magemonkey/wiki/Issue-reporting-guidelines) before creating new issues.

Regards.

[2017-02-13 13:22] #21 closed, assigned to nobody

[2017-02-20 10:04] phupt opened #23 "_checkSubscription is not defined"
Helper Data _checkSubscription is not defined because it was commented

[2017-02-20 13:32] #23 closed, assigned to nobody

[2017-02-21 07:18] phupt opened #24 "aroundSave always set Abandonedcart to Inactive"
Line of code: !$this->_objectManager->create('\Ebizmarts\Mandrill\Helper\Data')->isActive($config->getStore()) always return false;

public function aroundSave(\Magento\Config\Model\config $config,\Closure $proceed)
    {

        $ret = $proceed();

        $sectionId = $config->getSection();
        if($sectionId=='abandonedcart'&&!$this->_objectManager->create('\Ebizmarts\Mandrill\Helper\Data')

[2017-02-21 07:23] #24 closed, assigned to nobody

[2017-02-21 07:23] phupt commented on #24
Move to abandoned cart github
https://github.com/ebizmarts/magento2-abandonedcart/issues/9

[2017-02-21 12:14] vishalaureate opened #25 "Attachments not working when sending through Mandrill"
We are having problems when sending attachments from Magento 2 through Mandrill. We have tested both PDF and ZIP files.

[2017-02-21 14:28] SantiParagarino commented on #25
Hello @gelanivishal

Thanks for your feedback.
Please read this [guidelines](https://github.com/ebizmarts/magento2-magemonkey/wiki/Issue-reporting-guidelines) before creating an issue.

Regards.

[2017-02-21 14:28] #25 closed, assigned to nobody

[2017-03-08 09:06] rajesh0608 commented on #19
use command prompt to disable module. In my case working fine.

[2017-03-21 03:52] michaeldyl520 opened #28 "Class 'Mandrill' not found"
What can I do?
[code]

[2017-03-21 10:38] gonzaloebiz commented on #28
composer require mandrill/mandrill

[2017-03-21 10:38] #28 closed, assigned to nobody

[2017-03-31 08:26] michaeldyl520 commented on #28
Ok,thank you! @gonzaloebiz

[2017-04-08 14:13] manojind opened #29 "Fatal error: Class 'Mandrill' not found in /home/myshulca/public_html/app/code/Ebizmarts/Mandrill/Model/Api/Mandrill.php on line 31"
Fatal error: Class 'Mandrill' not found in /home/myshulca/public_html/app/code/Ebizmarts/Mandrill/Model/Api/Mandrill.php on line 31

[2017-04-10 12:35] ebizmarts-keller commented on #29
You have to install the Mandrill library via composer to get rid of this error.

https://packagist.org/packages/mandrill/mandrill

[2017-04-10 12:35] #29 closed, assigned to nobody

[2017-04-20 16:46] etessari opened #30 "unable to send email"
Actually disabling general activation settings doesn't seems to work.
I have disabled mandrill by setting "mandrill/general/active" => "No", but magento keep instantiate Ebizmarts\Mandrill\Model\Transport for email sending.
Debugging I have seen that the method Ebizmarts\Mandrill\Helper\Data::isActive()
isn't called anywhere.
Thanks

[2017-04-24 17:30] centerax commented on #14
@kilis I think this issue is still opened by mistake.

Can you confirm you are still facing this problem?

[2017-04-24 18:20] centerax commented on #30
working on it @etessari

we will provide a fix shortly.

[2017-04-24 19:00] #19 closed, assigned to centerax

[2017-04-26 12:58] centerax commented on #30
@etessari , can you please test whats on **develop** and let me know how it goes?

[2017-05-07 13:59] MostafaBalata opened #35 "Uncaught Error: Class 'Mandrill' not found in"
In line 31 $this->_api = new \Mandrill($apiKey); mandrill class is not imported!

`Fatal error: Uncaught Error: Class 'Mandrill' not found in /Applications/MAMP/htdocs/magento2/app/code/Ebizmarts/Mandrill/Model/Api/Mandrill.php:31 Stack trace: #0 /Applications/MAMP/htdocs/magento2/lib/internal/Magento/Framework/ObjectManager/Factory/AbstractFactory.php(111): Ebizmarts\Mandrill\Model\Api\Mandrill->

[2017-05-07 14:05] MostafaBalata commented on #35
Ummm, I should `run composer require mandrill/mandrill`

referance
https://github.com/ebizmarts/magento2-mandrill/issues/11

[2017-05-07 14:05] #35 closed, assigned to nobody

[2017-05-25 11:42] MaxyBlack commented on #30
Hello, is there any progress on this issue? I have a similar problem and I don't know if I should make my own module to fix this or wait for new version.

[2017-05-25 11:54] centerax commented on #30
@MaxyBlack  How you tested the code that sits on develop?

[2017-05-25 11:55] centerax commented on #14
closing, no reply.

[2017-05-25 11:55] #14 closed, assigned to centerax

[2017-05-25 11:58] MaxyBlack commented on #30
@centerax I've made a quick test on my test env and it is working but the question is how long it will take before it will be officially released?

[2017-05-25 11:59] centerax commented on #30
Will release it today
	_____________________________
From: MaxyBlack <notifications@github.com>
Sent: Thursday, May 25, 2017 08:58
Subject: Re: [ebizmarts/magento2-mandrill] unable to send email (#30)
To: ebizmarts/magento2-mandrill <magento2-mandrill@noreply.github.com>
Cc: Pablo <pablo@ebizmarts.com>, Mention <mention@noreply.github.com>

@centerax I've made a quick test on my test env and it is

[2017-05-25 12:03] centerax commented on #30
We will make a new release today.

[2017-05-25 13:31] centerax commented on #30
version 3.0.11 released
Github updated https://github.com/ebizmarts/magento2-mandrill/releases/tag/3.0.11 and packagist updated: https://packagist.org/packages/ebizmarts/magento2-mandrill#3.0.11

[2017-05-25 13:31] #30 closed, assigned to centerax

[2017-05-25 22:40] Silarn commented on #30
So did anybody actually bother to test sending an email after this 'fix'?

The problem is it instantiates the Transport model but doesn't pass it any data. This means nothing ever gets sent via Mandrill.

[2017-05-25 22:45] Silarn opened #37 "Email is no longer dispatched via Mandrill"
The fix for #30 actually broke Mandrill email. It does allow the system to bypass it when it isn't enabled, but it effectively prevents sending email through Mandrill.

I'll see about creating an official PR tomorrow, but in order to fix this locally I had to create a new plugin and disable the Transport plugin:

[code]

and create the new class like so

[code]

[2017-05-26 17:24] centerax commented on #37
Im not seeing such error. Tested again on the latest release and emails are sent out. Maybe its something else on your setup, another extension or something.

[2017-05-31 03:56] Silarn commented on #37
We don't have any other extensions hooking into the mail system. It makes perfect sense to me. The current version instantiates the mandrill transport model but never passes the message data from the transport builder to the instantiated model. It then 'sends' the mail with no message being set.

Instead, you hook into transport factory 'create' method which sets that data and switcheroo the model

[2017-05-31 13:07] centerax commented on #37
can you post here some logs from your Mandrill API logs to see the message without content?

[2017-06-21 12:35] sduif opened #38 "Wrong encoding: Charset set to iso-8859-1 instead of utf-8"
### Situation

Mails that are being sent through the Mandrill module get the iso-8859-1 charset. Causing client display issues with e-mail templates that use utf-8 encoding.

This happens (only?) if the module is set to Disabled from the admin configuration screen (Mandrill General Configuration).

For us this means that we currently can't use the Mandrill module due to our use of special characte

[2017-06-21 12:40] jbalca opened #39 "The same emails are being sent multiple time to the same customer"
Hi,

We're facing some high severe issues regarding transactional emails. We can't find a pattern but we have clients:
- that are receiving the same order confirmation email several times. This is happening with shipping emails as well.
- We have other clients that don't receive any emails at all.

We can't find a pattern, for the same type of transactional email one api call is being made to mand

[2017-06-22 12:32] Fouad90 commented on #39
I have the same issue (in multiple websites), but rather in version 3.0.11.
What I've noticed is that order confirmation emails are sent twice.

I downgraded to 3.0.10, it started working again then.

[2017-06-23 11:55] sduif commented on #38
Update: Updating the following code snippet in `Ebizmarts\Mandrill\Model\Message` seems to fix the issue:

[code]

[2017-06-30 07:48] rujenshakya opened #40 "Mailchimp Magento version 2.1.4 integration."
When i subscribe to newsletter after using the extension i am getting following error. Can you please help.
[code]

Thanks.

[2017-07-06 11:39] avra911 commented on #39
ping @centerax

[2017-07-10 05:35] cchamikara commented on #39
Does this have an update , we also getting the same issue with module version 3.0.11 and Magento version 2.0.15

[2017-07-11 11:36] ghost commented on #39
Also experiencing the issue with module version 3.0.10 and Magento version 2.1.7. For me the problem is occurring in a custom module I use to send shipment emails. When using the shipment sender function in a loop, I just get multiple copies of the first email in the loop:

`$this->shipmentsender->send($shipmentData);`

This has to be related to the email functionality as in the same loop the trac

[2017-07-14 10:54] bharatgunani commented on #30
I am using latest version , but i still have same issue.

[2017-07-14 11:16] bharatgunani opened #41 "Order Copy email send to Customer instead of Order Copy email"
We are using module latest version , but we are facing issue in order email. when any customer create new order at that moment order copy email send to customer instead of Copy email address(copy to email which set at backend).

[2017-07-14 22:42] pyostrike commented on #39
This was introduced here:
https://github.com/ebizmarts/magento2-mandrill/commit/17ca40fb7e0224bc002fca15f6b35b6effa7465f#diff-8564704260549e71a21bcfaef977ef33
Reverting back to class replacing, instead of plugin can be used to workaround.

[2017-07-14 23:21] centerax commented on #39
We will take a look on Monday. Thanks

[2017-07-17 14:32] centerax commented on #40
what error message do you receive? there is no error message on the trace you provided.

[2017-07-17 14:36] centerax commented on #39
as per the different comments version 3.0.11 is not the cause because this problem is happening on 3.0.10 as well. correct?

[2017-07-17 15:23] #38 closed, assigned to nobody

[2017-07-17 15:55] avra911 commented on #39
is happening only in version 3.0.11, while downgrading to 3.0.10 corrects the problem (emails are sent how it should).

@pyostrike pointed exactly to what introduced the problem.

---- On Mon, 17 Jul 2017 17:36:20 +0300 Pablo &lt;notifications@github.com&gt; wrote ----

as per the different comments version 3.0.11 is not the cause because this problem is happening on 3.0.10 as well. correct?

—
Yo

[2017-07-17 18:33] centerax commented on #39
@jbalca What do you see on your mandrill account under https://mandrillapp.com/settings/api? Do you see multiple api calls for one order? I still cannot replicate this with new order or shipments.

[2017-07-17 18:36] centerax commented on #41
whats on the logs under https://mandrillapp.com/settings/api ?

[2017-07-17 21:43] pyostrike commented on #39
@centerax Hint: try to send more then 1 message per Magento run, for example 'Send to a 2 Friends'.
It's not multiple per message, but 1st message as messages Magento have to send.

[2017-07-19 12:49] centerax commented on #39
@pyostrike thanks. I have tried and both messages are sent okay. Can you provide logs and/or more information on how to replicate step by step?

[2017-07-19 12:51] #40 closed, assigned to nobody

[2017-07-19 13:35] pyostrike commented on #39
@centerax sorry, have no access to mandrill anymore.
I did following as a test:
- opened a product at Magento store.
- pushed a 'Send to a Friend' button.
- in form added 1@1.com as first 'to' address
- then added 2@2.com as second 'to' address
In mandrill api logs there were 2 sent messages, but each to 1@1.com, so it was two api calls, but the object ( message ?) used in both calls was the first

[2017-07-19 21:19] ghost commented on #39
As per earlier comment, I'm using 3.0.10 and experiencing the same issue described above with a custom module that sends shipment emails.

Works fine with Mandrill disabled but with Mandrill, the first email in the loop is duplicated x times for each iteration. So I'm not convinced the issue is isolated to 3.0.11...

Mandrill API logs are correct as per the emails being sent, i.e x emails to the f

[2017-07-19 22:09] lgrassini commented on #37
Same here, Mails not being sent at all (not even the Test Email)...
The only API calls showing in the log are the /users/info.json.

I'm getting the following error: "No body specified".
Magento 2.1.6.

@centerax

[2017-07-20 00:38] lgrassini commented on #37
@Silarn Can you please elaborate how do you fixed this? I'm having exactly the same problem you reported. Thanks you!

[2017-07-21 17:00] Silarn commented on #37
@centerax The message is never sent because there is no message data in the Transport model. There's no log to show you. I'll try to detail my fix in a second post.

[2017-07-21 17:05] Silarn commented on #37
In my earlier post I opted to use a new module with a plugin as a fix rather than changing the module code.

The first portion was the contents of the `Namespace_NewModule` `<module_dir>/etc/di.xml` file.

The second portion is a file you need to create under `<module_dir>`/Plugin/Mail/TransportInterfaceFactory.php`.

In addition, you need a basic /etc/module.xml file, composer.json file, and regi

[2017-07-21 17:08] centerax commented on #37
@Silarn if the body is empty that should not prevent the message from being sent, you can send an empty email. But if you say there is no log on Mandill, thats ok.

[2017-07-21 17:11] Silarn commented on #39
I'm fairly certain the fix I detail in #37 is also tied to this issue.

I can only guess that different expressions of this issue are being caused by differing PHP or Magento versions.

Do you need me to create a PR with a core fix instead of a separate plugin?

[2017-07-21 17:12] centerax commented on #39
@Silarn We dont need you to do anything :) if you want to contribute, go for it!

[2017-07-21 17:14] Silarn commented on #37
It's not the mail body. It's all of the message data. There is no data in the transport model so nothing is sent.

[2017-07-21 17:16] centerax commented on #37
I was not able to replicate this case. Testing on 2.1.7 at the moment without success to have an empty object

[2017-07-21 18:21] centerax commented on #39
finally, I was able to replicate.

looking for a solution, will review what @Silarn provided.

[2017-07-21 19:21] #41 closed, assigned to nobody

[2017-07-21 19:53] centerax commented on #39
guys, we merged @Silarn PR to `develop`. Can you test and see how it goes?

[2017-07-21 20:01] Silarn commented on #39
I know this change (as a second module disabling the original plugin and adding essentially the same alternate plugin switching between Transport models) has solved any email dispatch issues I was having after upgrading to 3.0.11. I never noticed any duplicate message problems, but it was only live for a short time before I noticed an issue and pushed a fix.

[2017-07-22 07:23] lgrassini commented on #37
Thank you @Silarn !
I was able to get my emails dispatched by applying @Silarn fix.
@centerax Please consider reviewing the implementation of the fix #30 is definitely breaking the magento2-mandrill extension.

[2017-07-22 17:56] Silarn commented on #37
@lgrassini I've recently created a PR containing this change which they've merged into their development branch. You can give that a try instead of relying on this secondary module method.

[2017-07-23 10:03] lgrassini commented on #37
Thanks @Silarn ... So far it is working with your fix. I will wait until they merge your PR into the stable branch.

[2017-07-23 13:58] centerax commented on #37
guys: we will release a new version with this included tomorrow.

[2017-07-24 12:04] akuzhel commented on #39
Hi there.
We are experiencing this issue in our M2 shop also with module version 3.0.11.
Our business logic is to send 3 order confirmation emails to 3 different address. But we received 3 same emails to the 1 address among 3.

We just tried your **develop** branch with #42. This fixed the issue for us.
@centerax we confirm that issue is fixed with #42.

[2017-07-24 12:54] #37 closed, assigned to centerax

[2017-07-24 12:54] #39 closed, assigned to centerax

[2017-08-01 15:47] coatesjonathan opened #44 "Magento Emails are not sending"
Hi,

The default Magento 2 emails are no longer sending?

Can you suggest a quick fix please?

[2017-08-01 16:37] centerax commented on #44
have you tried the latest version?

do you get any error message?

[2017-08-02 11:59] lumijino commented on #44
Hi @centerax ,

Same error here, default magento emails are not sending. even if after upgrade to 3.0.12

[2017-08-02 12:45] centerax commented on #44
that is strange. any errors?

[2017-08-02 12:47] lumijino commented on #44
No errors in Magento/ server logs

[2017-08-02 12:54] lumijino commented on #44
Hi @centerax ,

We are receiving the following result on debug on line no. 78 on app/code/Ebizmarts/Mandrill/Model/Transport.php

`$result = {array} [1]
 0 = {array} [4]
  email = "jino@luminescent.digital"
  status = "sent"
  _id = "ee6a435483bb4d9897f771f74b8c73e7"
  reject_reason = null`

[2017-08-02 12:55] centerax commented on #44
it is sent as per the logs.

please check the Mandrill API logs.

[2017-08-02 13:11] lumijino commented on #44
Hi @centerax ,

yeah, the emails are reaching mandrill and getting delivered. Sorry for the confusions.

But do you know, why its not reaching our inbox even if the status there is Delivered? We are working on test mode.

Thanks
Jino

[2017-08-02 13:16] centerax commented on #44
no idea, I recommend you contact Mandrill support.

[2017-09-14 01:55] tomelevated opened #46 "Call to undefined method Ebizmarts\Mandrill\Model\Transport\Interceptor::send()"
I am getting an apache error when I try to execute a command to send in magento 2. Anyone else having this issue.

[2017-09-14 01:56] tomelevated commented on #46
[14-Sep-2017 00:18:42 UTC] PHP Fatal error:  Uncaught Error: Call to undefined method Ebizmarts\Mandrill\Model\Transport\Interceptor::send() in /home/drbronner/production/magento_2017/vendor/magento/zendframework1/library/Zend/Mail.php:1194
Stack trace:
#0 /home/drbronner/production/magento_2017/vendor/xtento/orderexport/Model/Export.php(977): Zend_Mail->send(Object(Ebizmarts\Mandrill\Model\Transp

[2017-09-16 13:23] leonhelmus opened #47 "Missing function in transport file"
I use Magento 2.2 with php 7.0
If i try to use magento setup:di:compile
it says the following:
[code]
Can you please at this function to file Ebizmarts\Mandrill\Model\Transport:
[code]
This way i can mail using mandrill otherwise i cant...

[2017-09-16 14:46] leonhelmus commented on #47
This is how the file should look like to me.
[code]

[2017-09-16 23:31] centerax commented on #47
Thanks Leon. 2.2 is not stable yet so do not expect the current stable release to be compatible with it. We will release a compatible version of this extension shortly.

[2017-09-16 23:37] centerax commented on #46
can you specify a bit more detail? maybe [this guide](https://github.com/ebizmarts/magento2-mandrill/blob/develop/CONTRIBUTING.md) on how to create an issue helps.
thanks.

[2017-09-16 23:41] #44 closed, assigned to nobody

[2017-09-17 12:09] leonhelmus commented on #47
Can you please add that function. All the other function do work, but this one not, because you implement an interface that got that function in it. it needs to be added to transport otherwise i cant use mandrill on magento 2 and i need to make a core change to your module. is it possible to make a new branch for 2.2 where you add that function?

[2017-09-21 13:24] akuzhel opened #49 "Call to undefined method Ebizmarts\Mandrill\Model\ResourceModel\Unsubscribe\Collection::limit()"
Magento version 2.1.8
Module version 3.0.12
``vendor/ebizmarts/magento2-mandrill/Controller/Autoresponder/Unsubscribe.php:54`` in [Ebizmarts\Mandrill\Controller\Autoresponder\Unsubscribe::execute](https://github.com/ebizmarts/magento2-mandrill/blob/develop/Controller/Autoresponder/Unsubscribe.php#L54)

[2017-09-29 14:24] #46 closed, assigned to nobody

[2017-09-29 16:55] #49 closed, assigned to centerax

[2017-09-29 18:35] Silarn commented on #47
#51 is a fix for this - and it actually returns the message object like it's supposed to.

[2017-10-02 12:22] centerax commented on #47
#52

[2017-10-02 12:22] #47 closed, assigned to nobody

[2017-10-13 11:38] maderlock opened #54 "Test email does not send"
Solve my own issue. Never mind. Please delete.

[2017-10-13 11:39] #54 closed, assigned to nobody

[2017-10-19 00:04] lgrassini opened #55 "Not working on Magento 2.2"
My Magento store stopped sending emails since I updated to Magento 2.2

The following error was reported on var/log/exception.log

`[2017-10-19 00:09:43] main.CRITICAL: No body specified {"exception":"[object] (Magento\\Framework\\Exception\\MailException(code: 0): No body specified at /opt/bitnami/apps/magento/htdocs/vendor/magepal/magento2-gmailsmtpapp/Plugin/Mail/TransportPlugin.php:94, Zend_Ma

[2017-10-19 00:19] lgrassini commented on #55
Solved. For some reason after the update to Magento 2.2 the Magento Gmail/Google Apps SMPT setting was enabled and active. Magento was trying to route my email this way instead of using Mandrill.

Disabling this setting made Magento to start sending the emails with the Mandrill extension and solved my problem.

[2017-10-19 00:20] #55 closed, assigned to nobody

[2017-10-21 15:05] Andrease89 opened #56 "Problem when sending a test mail!"
Im getting the following messange when I try to send a test mail throug mandrill:
"A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later."

Where can I find log files for thos errors? Im using magento 2.2 and recently updated your extension to the latest version. It didn't work before the update eighter though!

Be

[2017-11-28 15:08] olgaimproove opened #59 "Undefined index in PluginList.php"
I upgraded the module to the latest(3.0.13). During `setup:di:compile` Magento gives an exception:
`[Exception]
  Notice: Undefined index: instance in vendor/magento/framework/Interception/PluginList/Plugi
  nList.php on line 196 `
Magento version: 2.1.10
It seems like the issue is in ebizmarts/magento2-mandrill/etc/di.xml in a plugin for `Magento\Framework\Mail\TransportInterfaceFactory`

[2017-12-18 17:01] MelissaEbizmarts opened #60 "Compatibility with Magento 2.2"
The module is not compatible with Magento 2.2 yet.

[2017-12-18 18:37] balwant20 opened #61 "Mails not being sent at all (not even the Test Email)"
when i enbale mandrill module then no emails are shoot to customer or admin.i am using mandrill varsion-3.0.13 &magento avrsion-2.1.7

[2017-12-23 19:31] jschreck commented on #60
Hello Melissa -

Any idea when we can expect compatibility?

Juergen

[2017-12-24 08:34] OxCom commented on #61
@balwant20 please provide logs/error reports from plugin. I'm using latest version on 2.1.15 and 2.2.2. Be sure that you are using mandrill API key, not mailchimp.

[2017-12-24 08:35] OxCom commented on #60
@MelissaEbizmarts checked few minute ago with fresh install of magento 2.2. All fine.
Plese, prowide anything that can help us to detect and fix issue.

[2017-12-24 08:37] OxCom commented on #56
@Andrease89 some information can be found in:
``` var/log``` and ```var/report```
Also, please, check your api key and try to get error message from mandrill after call to API

[2017-12-24 15:26] jschreck commented on #60
@MelissaEbizmarts, @OxCom - Yes install works fine. But when I add the API Key and save the config, the admin goes blank. No outputs in system.log, exception.log or php-fpm.logs. I can still navigate to other parts of the admin, but no longer to the Mandrill config until I remove the config entry from the database.

[2017-12-26 13:16] centerax commented on #61
@balwant20 Have you tried what @OxCom has mentioned? Did it work?

[2017-12-26 13:16] #61 closed, assigned to nobody

[2017-12-26 14:34] SantiParagarino commented on #56
Thanks @OxCom

@Andrease89 Also please make sure to check your Mandrill account at [mandrillapp.com](mandrillapp.com) in the outbound section of the menu.
Accounts need to be verified and if you see a failure there then it means the email is getting successfully to your account but failing afterwards.

Regards.

[2017-12-26 17:40] SantiParagarino commented on #60
Hello @jschreck @OxCom @jschreck

The extension is currently working fine with Magento 2.2
For any issues please contact our support at mailchimp@ebizmarts-desk.zendesk.com

Regards.

[2017-12-26 17:40] #60 closed, assigned to nobody

[2017-12-26 20:23] centerax commented on #59
could not replicate.

are you certain this relates to our module?

[2017-12-27 14:51] #59 closed, assigned to nobody

[2017-12-28 05:24] balwant20 commented on #61
ya @centerax ,now its work fine....
thanks @OxCom @centerax

[2018-01-08 18:28] #56 closed, assigned to SantiParagarino

[2018-01-25 11:19] SchumacherFM opened #63 "Class Templatemap unused?"
Hi there,

I'm wondering how to map the Mailchimp/Mandrill templates to the Magento templates?

I've discovered class `\Ebizmarts\Mandrill\Block\Adminhtml\System\Config\Form\Field\Templatemap` but it seems that this class is unused.

How do the future feature look like? Can I help? What are the next steps?

Best, Cyrill

[2018-01-26 12:21] centerax commented on #63
Hi @SchumacherFM

This was an attempt to making it work but its a limitation on the Mandrill platform that does not allow this to continue.

We shall delete this file shortly.

[2018-01-26 12:21] #63 closed, assigned to nobody

[2018-01-29 07:41] SchumacherFM commented on #63
Hi @centerax

can you please describe in some words what the limitation is?

[2018-01-29 15:06] centerax commented on #63
the limitation afaik, is that mandrill does not support this. it was on the roadmap and then removed.

[2018-04-25 13:35] clemblanco opened #64 "Question: Does this support the ability to add tags to emails"
Is this letting us setting header tags as per [Mandrill documentation](https://mandrill.zendesk.com/hc/en-us/articles/205582467-How-to-Use-Tags-in-Mandrill)?

[2018-04-25 13:41] gonzaloebiz commented on #64
Hi @clementblanco

no, no tags support

Best

[2018-04-25 13:41] #64 closed, assigned to nobody

[2018-05-09 21:06] Silarn opened #65 "Sender email not populated in Order emails for Magento 2.2.4"
I'm still investigating the issue, but after upgrading our staging server our order emails seem to be failing due to no sender info getting set in the API call.

The test email does work, so the problem must be when it tries to pull the emails for the order.

[2018-05-11 23:13] Silarn commented on #65
This is caused by an addition the \Magento\Sales\Model\Order\Email\SenderBuilder which now uses two classes, the old TransportBuilder and a new TransportBuilderByStore, to set the data on the Message model. I'm not entirely sure why this works with the standard Zend_Mail class, but for this module it was causing two entirely separate instances of the Message class to be created. Since the main Tra

[2018-05-11 23:14] Silarn commented on #65
I'm working on a local fix and then I'll create a PR for this repo.

[2018-05-14 16:53] Flipmediaco opened #67 "Uncaught Error: Class 'Mandrill' not found"
I suspect this issue relates to the fact that we had the older version of the Mandrill extension that was bundled with MailChimp. Since Upgrading MailChimp extension Mandrill support was removed so installed this repro.

I have removed all data and configuration relating to Mandrill and the extension is installed manually and works up until an API key is saved, then the following error is returned

[2018-05-14 19:29] Silarn commented on #67
How did you install the module? If you use composer, the mandrill packages are required and should be automatically available.

Otherwise, you will have to include the Mandrill API packages manually as well.

[2018-05-14 19:38] gonzaloebiz commented on #67
this is not an issue, you must install mandrill/mandrill package, run
composer require mandrill/mandrill

Best

[2018-05-14 19:38] #67 closed, assigned to nobody

[2018-05-15 14:50] Flipmediaco commented on #67
Thanks for your guidance, I had installed manually so the dependancy was missed and installing the mandrill/mandrill package resolved the problem. Thanks again

[2018-05-24 13:04] klein0r commented on #65
Having the same issue. Have you fixed it @Silarn ?

[2018-05-24 13:55] Silarn commented on #65
See the associated PR

[2018-05-24 16:06] #65 closed, assigned to nobody

[2018-05-24 16:11] centerax opened #68 "Set Magento 2.1.x constraints"

[2018-05-24 19:33] #68 closed, assigned to nobody

[2018-05-24 19:51] centerax opened #74 "Add sensitive data support for API KEY"
#57

[2018-05-24 20:00] #74 closed, assigned to nobody

[2018-06-07 10:43] Flipmediaco opened #75 "Email sending failed: invalid-sender"
**Describe the bug**
Order, Shipping Emails not sent. Attempting to email a comment on an order results in a alert pop up stating "Email sending failed: invalid-sender". Forgot password, Contact Form and Mandrill test emails are sent. I suspect there is an issue with the "Form" aspect of the sales and shipping emails when Mandrill is called to send. In all email cases above the from / sender email

[2018-07-10 21:37] jaredchu commented on #75
I'm facing the same issue.
Magento 2.2.4
Ebizmarts_Mandrill 3.1.0

[2018-07-11 09:31] Flipmediaco commented on #75
Hi jaredchu

This issue is not related to this Extension. You will have updated to Magento 2.2.4, this comes packaged with 3 Amazon Extensions supporting Amazon Pay. Assuming you do not require Amazon pay disabling these 3 Amazon Extension will result in normal email sending for Order Emails.

I have not tested if this issue has been fixed in 2.2.5 as since applying the update the Amazon Extension

[2018-07-11 09:59] jaredchu commented on #75
I tried to disable Ebizmarts_Mandrill in Magento backend and the order email is sending OK now.
I'm looking forward to an official solution.

[2018-07-11 10:10] Flipmediaco commented on #75
I found that with Ebizmarts_Mandrill disabled email transport started working for Order emails but the from address was not the address configured in Magento, it was [website user]@[isp host name] - this is far from ideal as the customer reply to address is not correct.

The issue I suspect is the Amazon module is introducing a format error in the from address header. In the case of Mandrill it re

[2018-07-12 12:39] jaredchu commented on #75
@Flipmediaco it worked, thank you so much for your help!!!

[2018-07-12 12:41] Flipmediaco commented on #75
This issue relates directly to the Amazon Pay module and I am therefore closing this. Hopefully the solution will help others until the Amazon Pay bug is resolved.

[2018-07-12 12:41] #75 closed, assigned to nobody

[2018-07-24 11:00] soopadoubled opened #76 "Incorrect module version in Admin"
**Describe the bug**
In Magento Admin, version 3.1.0 of the module reports the incorrect version (pulled from `etc/module.xml`).

No other info included as this can be seen in current dev code as module.xml reports version 3.0.13.

[2018-08-10 05:30] jessyloran5 opened #77 "Customer receiving same order email twice after placing an order"
**Describe the bug**
We are using mandrill version 3.0.13 and Magento 2 version 2.2.5. Customers are getting same order email twice after placing an order.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to product detail page
2. Click on add to cart
3. Place an order
4. Customer getting two confirmation order emails.

**Expected behavior**
Customer should only get one order confirmation

[2018-08-10 07:54] lfritsche commented on #77
I've experienced the same behaviour, but without using mandrill. No solution found yet.
Also using M 2.2.5

[2018-08-10 18:59] gonzaloebiz commented on #77
Hi @jessyloran5

can you please see in the Mandrill site if the two email were sent by Mandrill? you can see it in the outbound

Best

[2018-08-10 19:00] gonzaloebiz commented on #77
Hi @lfritsche

this repo is only for Mandrill issues, i think you are in the wrong site.

Best

[2018-08-16 14:39] gonzaloebiz opened #78 "Wrong dependency for Magento 2.2.1"
If you try to install the extension in Magento 2.2.1 fails, Magento 2.2.1 has 101.0.1 version of magento/module-sales but the composer.json says ^101.0.3

[2018-09-07 15:49] moElwan commented on #78
same for Magento 2.2.2 here `magento/module-sales 101.0.2`

[2018-09-20 12:17] GBCtrading commented on #77
Hi @gonzaloebiz,

Yes mandrill showing multiple emails sent to customer.

https://drive.google.com/file/d/1pE00NJiqUuZigQ1rZbTVLNH63kmBVP7j/view?usp=drivesdk

![outbound activity _ mandrill](https://user-images.githubusercontent.com/41420349/45817723-48dd2380-bcfd-11e8-94a7-65c95dd5f8ad.png)

[2018-09-20 17:23] gonzaloebiz commented on #77
If you have magento 2.2.* please update to the version 3.1.0

Best

[2018-09-20 17:23] #77 closed, assigned to nobody

[2018-09-21 05:32] GBCtrading commented on #77
@gonzaloebiz , We have already updated to 3.1.0. But same issue. And this issue is only with order confirmation emails.

[2018-09-21 14:03] gonzaloebiz commented on #77
Hi @GBCtrading

we can't replicate as per yours indications.
I think your better approach is using other smtp service to test if really is a bug from mandrill extension or a bug in other part of your installation.

Best

[2018-09-27 09:27] anupwankhede opened #79 "Magento 2.2.6 Multistore application - Not sending emails in all stores"
**Application Environment:**
Magento => 2.2.6
ebizmarts/magento2-mandrill => 3.1.0
mailchimp/mc-magento2 => 1.0.29
ebizmarts/pos => 3.2.8

**Issue:**
While extension is working fine in Magento 2.1 application, its failing with following issue in Magento 2.2 application:
As said we have multi-store setup & this is working fine for only one store & failing in all other stores.

When I click on Send

[2018-10-04 19:15] centerax commented on #79
could not replicate.
on which scope is the key entered?

[2018-10-05 04:14] anupwankhede commented on #79
Hi @centerax , I did raise ticket with support as below:
Your request (17362) has been received and is being reviewed by our support staff.

Please check it for more details. I did not get reply on that since Sep 21.

[2018-10-05 14:26] centerax commented on #79
Ok, lets keep the conversation on the ticket then.

[2018-11-15 14:02] #79 closed, assigned to centerax

[2018-12-06 17:06] josh-carter commented on #75
Seeing this happening on Magento 2.2.7 without Amazon modules installed.

Anyone else getting this?

Looks as though they've [changed some stuff with the TransportBuilder in 2.2.7](https://github.com/magento/magento2/compare/2.2.6...2.2.7#diff-dfb3ee5a7f863458afea75f5524cd2e5)

[2018-12-06 17:27] Flipmediaco commented on #75
Mandrill stopped working as soon as we upgraded to Magento 2.2.7

Amazon modules remain disabled on this site

Any other feedback on this would be great - seen how I am stuck a double whammy of M1 patch error.

[2018-12-06 19:55] gonzaloebiz commented on #75
Hi @Flipmediaco @josh-carter

can you try applying the associated commit? https://github.com/ebizmarts/magento2-mandrill/commit/1368bcfe4a473d8e25a56a8214721054ec241b5b

Best

[2018-12-06 20:09] josh-carter commented on #75
@gonzaloebiz @Flipmediaco Yep - can confirm its working again with that commit, thanks @gonzaloebiz

[2018-12-07 16:31] #76 closed, assigned to centerax

[2018-12-13 09:21] ghost commented on #78
same for Magento 2.3: module sale's version is 102.0.0

[2018-12-13 13:30] centerax commented on #78
@angelwebqam the module is not tested on 2.3.0 so thats why the dependency is not updated.

[2018-12-13 15:04] dzierzega commented on #75
I have the same issue aftter upgrading magento to version 2.2.7
When we can expect the offical fix?

[2018-12-18 19:35] DigitalStartupUK commented on #75
Thank you @gonzaloebiz for the commit. You saved me a headache. I don't suppose you've heard when your commit make make it into an official release?

[2018-12-18 19:45] gonzaloebiz commented on #75
Will try next week

[2018-12-21 13:14] pratikkamani opened #84 "Cannot use Magento\Framework\Object as Object"
**Describe the bug**
Fatal error: Cannot use Magento\Framework\Object as Object because 'Object' is a special class name in /app/code/Ebizmarts/Mandrill/Controller/Adminhtml/Email/Test.php on line 13

Issue while setup:di:compile

[2018-12-21 13:37] centerax commented on #84
what magento version? please use the bug report template and complete it fully.

[2018-12-21 13:40] pratikkamani commented on #84
Magento version 2.3.0

[2018-12-21 13:44] centerax commented on #84
what module version have you installed?

[2018-12-21 13:49] pratikkamani opened #85 "Fatal error: Cannot use Magento\Framework\Object as Object on /Controller/Adminhtml/Email/Test.php"
**Describe the bug**
Fatal error: Cannot use Magento\Framework\Object as Object because 'Object' is a special class name in /app/code/Ebizmarts/Mandrill/Controller/Adminhtml/Email/Test.php on line 13

**To Reproduce**
Steps to reproduce the behavior:
1. Install extension
2. php bin/magento setup:di:compile

**Expected behavior**
After installing extension I have run setup:di:compile and this error

[2018-12-21 13:52] pratikkamani commented on #84
Ebizmarts_Mandrill 3.0.7

[2018-12-24 06:04] #85 closed, assigned to nobody

[2018-12-24 06:05] pratikkamani commented on #85
Duplicate to https://github.com/ebizmarts/magento2-mandrill/issues/84

[2019-01-02 16:14] davesims11 commented on #75
@gonzaloebiz We seem to be having the same problem when trying to send emails out that has been mentioned above, have added the patch from the commit for now, but when will this be part of the official release?

[2019-01-08 18:12] SantiParagarino opened #88 "Compatibility problem when installing on Magento 2.1.9"
**Describe the bug**
composer.json not allowing installation on Magento 2.1.9

**To Reproduce**
Steps to reproduce the behavior:
1. Run install command: composer require ebizmarts/magento2-mandrill 3.0.14
**Expected behavior**
Installation runs successfully.
**Actual result**
Failure with following response:
Your requirements could not be resolved to an installable set of packages.

  Problem 1

[2019-01-16 12:45] shiftenterdev commented on #59
@olgaimproove have you solve this issue? If yes how? plz help me I am also stuck on same issue.

[2019-02-22 03:42] syedsaleem086 opened #89 "Fatal error on Setting production mode in Magento2.3.0"
**Describe the bug**
Compilation failed on Magento2.3.0

**To Reproduce**
Steps to reproduce the behavior:
1. Install Magento2.3.0
2. Install Mandrill Extension using composer
3. PHP7.2-FPM
4. See error

[code]

**Expected behavior**
Should complete the compilation without error

[2019-02-22 03:44] syedsaleem086 commented on #84
@centerax Same issue here

[code]

[2019-02-22 12:29] gonzaloebiz commented on #89
Hi @syedsaleem086

thanks for your feedback,
What version of ebizmarts/magento2-mandrill do you have? (you can run composer show | grep mandrill to know)

Best

[2019-02-22 12:30] gonzaloebiz commented on #84
Use the right version https://github.com/ebizmarts/magento2-mandrill/releases/tag/3.3.15

[2019-02-22 12:30] #84 closed, assigned to centerax

[2019-02-23 06:59] syedsaleem086 commented on #89
Hi @gonzaloebiz Please check the output of
`composer show | grep mandrill`
[code]

![image](https://user-images.githubusercontent.com/15724424/53283064-a5d67d00-3766-11e9-8d43-e26e0d4c1bcd.png)

[2019-02-23 07:03] syedsaleem086 commented on #84
@gonzaloebiz

Same issue here please check the output of
`composer show | grep mandrill`

[code]

![image](https://user-images.githubusercontent.com/15724424/53283101-3ad97600-3767-11e9-856e-a0d3de6d94bb.png)

[2019-02-26 17:09] undert03 commented on #89
getting the same and here is my out put

ubuntu@:~/magento2$ composer show | grep mandrill
ebizmarts/magento2-mandrill                                 3.3.15    Connect Mandrill with Magento
mandrill/mandrill                                           1.0.55    API client library for the Mandrill email as a service platform

[2019-02-26 17:10] undert03 commented on #89
as a side note i have the mailchimp module installed by you too. not sure if it's related

[2019-02-26 17:40] undert03 commented on #89
Edited Test.php with your changes it it worked just fine. Thanks!

[2019-02-26 17:53] #89 closed, assigned to nobody

[2019-03-13 15:02] srenon commented on #75
@gonzaloebiz ... did you merge this in the latest release?

[2019-03-14 17:06] gonzaloebiz commented on #75
@srenon

you have a new version 3.2.17 including this fix

[2019-03-14 17:11] gonzaloebiz opened #95 "Travis fails with wrong php version for magento 2.3"

[2019-03-15 14:47] arendarenko opened #97 "Remove unused extension functionality"
**Preconditions**
Module version - 3.2.17
Magento 2 Version - 2.2.7

**Describe the bug**
I found several controllers in frontend-area which probably is not used anymore: https://github.com/ebizmarts/magento2-mandrill/tree/2.2-develop/Controller/Autoresponder because block, which returns Lists for Autoresponder contans stub-method: https://github.com/ebizmarts/magento2-mandrill/blob/d3bc2543459fa4

[2019-03-15 15:30] arendarenko opened #98 "Error: Extra parameters passed to parent construct in /mandrill/Model/SenderBuilder.php"
**Preconditions**
1. Magento 2 version - 2.2.7
2. Module version - 3.2.17

**Describe the bug**
After module install during DI compile receiving such error:

Extra parameters passed to parent construct: $transportBuilderByStore. File: %path%/vendor/ebizmarts/magento2-mandrill/Model/SenderBuilder.php

**To Reproduce**
Steps to reproduce the behavior:
1. Install module
2. Run DI compile console comm

[2019-03-15 15:49] gonzaloebiz commented on #98
Hi @alexeya-ven

thanks for your feedback.
Please take a look

![image](https://user-images.githubusercontent.com/6222792/54443897-65906c00-4720-11e9-8bf9-2e7de23d962d.png)

The compilation is OK for me.
Any other particular setting?

Best

[2019-03-15 15:57] #98 closed, assigned to nobody

[2019-03-15 18:44] #97 closed, assigned to gonzaloebiz

[2019-03-15 18:45] gonzaloebiz commented on #97
Thanks @alexeya-ven

[2019-03-15 21:25] nhudson76 commented on #84
http://php.net/manual/en/reserved.other-reserved-words.php

mage dropped the ball in allowing framework to require php:~7.2

[2019-03-18 03:55] the-midi opened #100 "Error thrown in Magento 2.3 when mandrill is not enabled."
**Describe the bug**
When the module is installed but not enabled a Fatal error is thrown when trying to send mail.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Setup vanilla Magento 2.3
2. Composer in latest Mandrill module
3. Do not configure Mandrill module - leaving default values.
4. Attempt to send an email.

**Expected behavior**
Email will fall back to default ZendMessage a

[2019-03-18 08:39] arendarenko commented on #97
Hi @gonzaloebiz
thanks for fixing it.
How about tables

mandrill_templates
mandrill_mailsent
mandrill_unsubscribe

Looks like they aren't used too. Maybe we should remove them too?

[2019-03-18 09:47] arendarenko opened #101 "Error while sending test email (storeId hardcoded)"
**Preconditions**
Magento version: 2.2.7
Module version: 3.2.17

**Describe the bug**
When there is no store with id = 1 during fatal error occures during sending test email:

**To Reproduce**
Steps to reproduce the behavior:
1. Remove store id with id = 1
2. Go to Stores -> Configuration -> MailChimp -> Mandrill -> Fill form to send test email

**Expected behavior**
Test email will be sent

**Add

[2019-03-28 14:06] ihor-sviziev opened #104 "Shipment emails - When got hard bounce - trials every 1 minute"
**Describe the bug**
When we got hard bounce - shipment emails trying to re-sent every 1 minute by cron jobs.

**To Reproduce**
Steps to reproduce the behavior:
1. Place an order in frontned using some not existing email (for example not existing account on gmail)
2. Create shipment for it

**Expected behavior**
Email should be ignored, no need to re-send it every 1 minute

**Screenshots**
![Captu

[2019-03-28 14:31] centerax commented on #104
can you let us know your Magento version and module version?

[2019-03-28 15:13] ihor-sviziev commented on #104
Magento 2.2.7, module version 3.2.17

[2019-04-01 20:09] nickpiro opened #105 "Order Emails Not Sending 2.2.8 CE - Test Email Works"
We're using Mandrill 3.0.13 on Magento 2.2.8. We just upgraded Magento from 2.2.5 and Mandrill was working perfectly fine.

**To Reproduce**
1. Create Order
2. Email Doesn't Send

**Expected behavior**
Order email should send, it doesn't

The only emails sending so far as I can see are Password Reset, New Account Registered, etc

[2019-04-02 03:34] #105 closed, assigned to nobody

[2019-04-02 15:02] perryholden opened #106 "Version 3.2.7 Not Working with Magento 2.2.8"
With Magento 2.2.8, transactional and test emails no longer send.

### Preconditions

1. Magento Commerce 2.2.8
2. PHP 7.1
4. Ebizmarts Mandrill v. 3.2.17

### Steps to reproduce

1. Login to the admin.
2. Navigate to the config settings.
3. Enter an email address, and click "Send Test Email".

### Expected result

* An email will be sent.

### Actual result

* I get an error message: "A technical

[2019-04-03 10:36] vitalygrigorishin commented on #104
Hi.
I have the same issue

[2019-04-08 12:40] Lycanite opened #108 "Magento 2.3.1 Invalid Sender (Fix)"
After upgrading to Magento 2.3.1 from 2.3 the "Email sending failed: invalid-sender" issue returned, this is using 3.3.16.

I've managed to fix this be renaming the function "setFrom" to "setFromAddress in the Ebizmarts\Mandrill\Model\Message class so that it matches what the Magento\Framework\Mail\Template\TransportBuilder class is calling in its new setFromByScope method.

[2019-04-12 21:16] SantiParagarino commented on #104
Hello @ihor-sviziev @vitalygrigorishin
I am currently looking at this issue and when I try to use a fake emails I got the status ok delivered.
Can you tell me the exact reason Mandrill is throwing? You should be able to check this moving the mouse over the red "Rejected" text.

Kind Regards.

[2019-04-18 12:17] ihor-sviziev commented on #104
Hi @Santiagoebizmarts
For "reject" we have reason "hard bounced", and for this email  earlier we have hard-bounce:
![image](https://user-images.githubusercontent.com/1873745/56360328-ff01e080-61ec-11e9-91e3-c8e335654ef5.png)

[2019-04-22 21:02] SantiParagarino commented on #104
Hello @ihor-sviziev
Thank you very much for your feedback!
I was able to find the problem. Seems like Magento does not consider the possibility that an email fails and expects all emails to be re-tried when something happens.
I found this at vendor/magento/module-sales/Model/Order/Email/Sender/ShipmentSender.php lines 128 to 132.
Once the solution is available I will reference it to this issue.

K

[2019-04-23 03:42] ihor-sviziev commented on #104
Hi,
In case if magento do not support it - it’s better to add some log and do not throw exception. Otherwise there will be other issues, maybe in some case customer will not be able to place order

[2019-04-23 15:01] SantiParagarino commented on #104
Hello @ihor-sviziev
I agree with you but I want to consider if only queue emails should be catched or maybe all emails with that particular reject reason. I don't want to override any unwanted behavior because there are places where we want the exception to be thrown, for example when an incorrect sender is configured.
As a manual fix for anyone experiencing this problem there is a query that shou

[2019-04-23 16:28] ihor-sviziev commented on #104
Hi,
Increment id in sales shipment table is not an order I’d, but shipment id

On Tue, Apr 23, 2019 at 18:02 Santiagoebizmarts <notifications@github.com>
wrote:

[2019-04-23 18:48] SantiParagarino commented on #104
You are right again @ihor-sviziev
I just updated the comment to avoid confusion. Sorry about that.

Please note we are already working in the solution. There will be a list of errors that will be catched, allowing adding or removing in the future.

Kind Regards.

[2019-04-24 08:44] alinalexandru commented on #108
I will prepare a Pull Request to fix for 2.3.1 and 2.2.9

[2019-04-26 08:28] goben2489 commented on #100
`if ($this->mandrillBodyText) {
                return $this->convertToString($this->mandrillBodyText);
            } elseif ($this->mandrillBodyHtml) {
                return $this->convertToString($this->mandrillBodyHtml);
            } else {
                return '';
            }`

Still dont work when module mandrill is disable and use module magepal/smtp to send test mail and get error:
<i

[2019-04-26 20:38] SantiParagarino commented on #100
Hello @michaelwylde @goben2489

Thanks for your feedback. We are working on this, stay tuned to find out once the new release compatible with 2.3 gets available.

Kind Regards.

[2019-06-17 08:57] evs-xsarus commented on #105
This is still happening, I get this error:

PHP Fatal error:  Uncaught Error: Call to undefined method Magento\\Framework\\Mail\\Message::getFrom() in /home/mag/vendor/ebizmarts/magento2-mandrill/Model/Message.php:102

Stack trace:
[code]

[2019-06-25 00:48] the-midi commented on #100
@Santiagoebizmarts Is there any update on when 2.3 update will be available?

[2019-06-26 15:55] gonzaloebiz commented on #108
Hi @alinalexandru

we wrote a new extension for Mandrill for magento >= 2.2.8
Remove this extension (composer remove ebizmarts/magento2-mandrill) and try https://github.com/ebizmarts/magento2-mandrill-smtp

Best

[2019-06-26 15:55] gonzaloebiz commented on #106
Hi @dewayneholden

we wrote a new extension for Mandrill for magento >= 2.2.8
Remove this extension (composer remove ebizmarts/magento2-mandrill) and try https://github.com/ebizmarts/magento2-mandrill-smtp

Best

[2019-06-26 15:57] gonzaloebiz commented on #100
Hi @michaelwylde

we wrote a new extension for Mandrill for magento >= 2.2.8
Remove this extension (composer remove ebizmarts/magento2-mandrill) and try https://github.com/ebizmarts/magento2-mandrill-smtp

Best

[2019-06-26 15:57] #100 closed, assigned to SantiParagarino

[2019-06-26 15:57] #108 closed, assigned to SantiParagarino

[2019-06-26 15:57] #106 closed, assigned to nobody

[2019-06-27 02:12] goben2489 commented on #100
Thank you for your response

On Wed, Jun 26, 2019 at 10:57 PM Gonzalo Dominguez <notifications@github.com>
wrote:

--
---------------------------------------------
*Lê Thanh Tín *
*Developer*
*TT-Techonogy*
ĐT : 0948 03 15 15
Email : goben2489@gmail.com
---------------------------------------------

[2019-07-09 23:16] andrewkett commented on #108
Is this module deprecated in favour of the SMTP one then?

[2019-07-10 05:36] jaredchu opened #115 "Mandrill stops working on Magento 2.3.2"
**Describe the bug**
Like the title, it's working on Magento 2.3.0 but 2.3.2
Magento version: 2.3.2
magento2-mandrill: 3.3.16

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Admin > Store > Configuration > Mailchimp > Mandrill
2. Click on 'Send Test Email'

**Expected behavior**
The email will be send

**Additional context**
Email stops working at all, not only the test email

[2019-07-10 12:38] gonzaloebiz commented on #115
Hi @jaredchu

we wrote a new extension for Mandrill for magento >= 2.2.8
Remove this extension (composer remove ebizmarts/magento2-mandrill) and try https://github.com/ebizmarts/magento2-mandrill-smtp

Best

[2019-07-10 12:38] #115 closed, assigned to nobody

[2019-07-10 13:16] gonzaloebiz commented on #108
yes, for magento  >= 2.2.8

[2019-07-10 21:48] andrewkett commented on #108
Can I suggest you update the readme to reflect that?

[2019-07-11 10:18] clivewalkden commented on #104
Is this still being worked on?

[2019-07-11 18:05] gonzaloebiz commented on #108
sure

[2019-07-16 10:32] wisehuang opened #117 "Error thrown in Magento 2.3.1: Call to a member function toString() on string"
**Describe the bug**
In branch 2.3-develop, class: Model/Message.php line 74: return $this->mandrillBodyText->toString();

It will throw an uncaught error: Call to a member function toString() on string in /var/log/php-fpm/www-error.log

The full error message will be:
`PHP Fatal error:  Uncaught Error: Call to a member function toString() on string in /usr/share/nginx/html/magento2/vendor/ebizmar

[2019-07-16 12:34] gonzaloebiz commented on #117
Hi @wisehuang

we wrote a new extension for Mandrill for magento >= 2.2.8
Remove this extension (composer remove ebizmarts/magento2-mandrill) and try https://github.com/ebizmarts/magento2-mandrill-smtp

Best

[2019-07-16 12:34] #117 closed, assigned to gonzaloebiz

[2019-07-19 00:35] syedsaleem086 opened #118 "from_name and from_email are set to null on Magento2.3.1"
**Describe the bug**
from_name and from_email is always null even if it is configured in Magento backend

**To Reproduce**
Steps to reproduce the behavior:
1. Install Magento2.3.1 (Working on magento2.3.0)
2. Install Mandrill using composer
3. Configure store email address on Magento backend
4. Test send email
5. Login to mandrill dashboard -> API Logs (You will notice there is no from_name and fr

[2019-07-19 12:19] gonzaloebiz commented on #118
hi @syedsaleem086

thanks for the feedback, but for magento >= 2.2.8 you must use https://github.com/ebizmarts/magento2-mandrill-smtp

Best

[2019-07-19 12:19] #118 closed, assigned to nobody

[2019-07-25 10:50] nitaipanda opened #119 "mandril install by putty show error"
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - magento/framework 101.0.7 requires ext-mcrypt * -> the requested PHP extension mcrypt is missing from your system.
    - magento/framework 101.0.7 requires php ~7.0.13|~7.1

[2019-07-25 10:51] nitaipanda commented on #119
please give solution

[2019-07-25 10:51] nitaipanda commented on #119
![image](https://user-images.githubusercontent.com/20333565/61869008-4688be80-aef8-11e9-86c1-437c19f9b465.png)

[2019-07-25 13:05] gonzaloebiz commented on #119
What version of magento do you have?
Keep in mind this requirements https://devdocs.magento.com/guides/v2.2/install-gde/system-requirements-tech.html
If you have magento 2.2 is not compatible with php 7.2

Best

[2019-07-25 13:06] #119 closed, assigned to nobody

[2019-07-26 09:44] nitaipanda commented on #78
how install mandrill magento 2.2.7

[2019-07-26 09:45] nitaipanda commented on #78
when we install mandril using putty give some error

[2019-07-26 12:02] gonzaloebiz commented on #78
Hi @nitaipanda

we already reply in https://github.com/ebizmarts/magento2-mandrill/issues/119

Best

[2019-08-09 06:34] vithefiddler opened #120 "Mandrill Config Not Showing in Admin Panel"
**Describe the bug**
Mandrill Config Not Showing in Store Configuration Admin Panel

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Stores -> Configuration'
2. Click on 'Anything' - I can't find an item in there for Mandrill. I have looked in any other area in the admin panel that seems to remotely relate with no luck. I have looked through my logs for a related error with no luck. If

[2019-08-09 12:25] gonzaloebiz commented on #120
Hi @vithefiddler

what version of magento do you have?
Click on the Freddie icon
![image](https://user-images.githubusercontent.com/6222792/62778716-7c48ae00-ba87-11e9-850a-e8a9d67a20f8.png)

Or expand the Mailchimp menu item

![image](https://user-images.githubusercontent.com/6222792/62778759-a4d0a800-ba87-11e9-8163-689652ef5b16.png)

[2019-08-09 12:48] vithefiddler commented on #120
2.2.7Thanks,Vi970-215-6366Sent from my high-functioning smartphone.
-------- Original message --------From: Gonzalo Dominguez <notifications@github.com> Date: 8/9/19  6:25 AM  (GMT-07:00) To: ebizmarts/magento2-mandrill <magento2-mandrill@noreply.github.com> Cc: Vi Wickam <vi@wickam.net>, Mention <mention@noreply.github.com> Subject: Re: [ebizmarts/magento2-mandrill] Mandrill Config Not Showing in

[2019-09-02 06:10] MarcusWolschon opened #122 "Readme.md fails to describe or link what Mandrill is or what this extension does"
The Readme.md is missing critical information:

- what is mandril, where to find it
- what does this extension allow the user to do
- what is the license of this code
- what magento and php combinations are supported and what combinations are regularly tested

[2019-09-20 13:17] tarasyyyk opened #123 "Error when sending emails"
This error ocurrs when sending emails:
[code]
A clear and concise description of what the bug is.

Steps to reproduce the behavior:
1. Go to Product page
2. Click on Add to Cart
3. Go to Chechout
4. Fill all fields
5. Click "Place Order"

**Expected behavior**
Order created and User goes to Success page.

**Desktop (please complete the following information):**
- OS: macOS
- docker
- module 3.3.16

[2019-09-20 14:08] gonzaloebiz commented on #123
Hi @tarasyyyk

what version of magento do you have?

[2019-09-20 14:32] tarasyyyk commented on #123
Hi, @gonzaloebiz
my Magento version is 2.3.2.
I found same issue, and solution to install package `ebizmarts/magento2-mandrillsmtp`, so this issue can be closed.

[2019-09-20 14:39] #123 closed, assigned to nobody

[2019-10-17 22:24] janmyszkier opened #124 "Extension Not compatible /broken with 2.3.3"
**Describe the bug**
Emails are not being sent at all, code is not compatible with `EmailMessage` class

**To Reproduce**
Steps to reproduce the behavior:
go to custmer register
register an account
see how emails are not being sent

**Expected behavior**
emails should be sent with no error

**Screenshots**
no screenshots,

**Additional context**
composer versions:
[code]
note: readme should also i

[2019-10-18 12:08] gonzaloebiz commented on #124
Hi @janmyszkier

use https://github.com/ebizmarts/magento2-mandrill-smtp/releases

Best

[2019-10-18 12:08] #124 closed, assigned to nobody

[2019-10-24 19:37] nghelo opened #125 "M2.3.3 Critical Error - Wrong Invalid argument passed Ebizmarts\Mandrill\Model\Transport constructor"
Type Error occurred when creating object: Ebizmarts\Mandrill\Model\Transport\Interceptor, Argument 1 passed to Ebizmarts\Mandrill\Model\Transport\Interceptor::__construct() must be an instance of Ebizmarts\Mandrill\Model\Message, instance of Magento\Framework\Mail\EmailMessage given

[2019-10-25 06:59] gonzaloebiz commented on #125
Hi @nghelo

thanks for choosing our extensions.
for magento 2.3.3 please take a look at https://github.com/ebizmarts/magento2-mandrill-smtp/releases

Best

[2019-10-25 06:59] #125 closed, assigned to nobody

[2019-11-19 10:41] gaurav-s opened #127 "Magento 2.3.3 Incompatibility"
After upgrading to 2.3.3, not able to send the mails with this exception:

main.CRITICAL: Type Error occurred when creating object: Ebizmarts\Mandrill\Model\Transport\Interceptor, Argument 1 passed to Ebizmarts\Mandrill\Model\Transport\Interceptor::__construct() must be an instance of Ebizmarts\Mandrill\Model\Message, instance of Magento\Framework\Mail\EmailMessage given

[2019-11-19 12:14] gonzaloebiz commented on #127
Please use https://github.com/ebizmarts/magento2-mandrill-smtp/releases

Best

[2019-11-19 12:14] #127 closed, assigned to nobody

[2019-11-20 12:32] #101 closed, assigned to nobody

[2019-11-29 10:38] Vbak opened #128 "Error when sending Test email for Magento 2.3.3"
**Describe the bug**
When you try to test the module with the test email through admin panel and error is happening for Magento 2.3.3 and the email doesn't get send.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Stores->configuration->Mandrill
2. Enable Module with proper API key.
3. Add test email
4. Click Send email

**Expected behavior**
Expected to send the email.

**What is happ

[2019-11-29 13:01] gonzaloebiz commented on #128
Hi @Vbak

for magento 2.3.3 please use this https://github.com/ebizmarts/magento2-mandrill-smtp/releases

Best

[2019-11-29 13:01] #128 closed, assigned to nobody

[2019-12-13 21:30] Elamurugan-Nallathambi opened #129 "Couldnt send test Emails"
Configured with sub account API Key in Magento Commerce 2.3.3 after installing mandrill through composer using  `composer require ebizmarts/magento2-mandrill:3.3.15` and when I try send test email I get

`{
  "0": "Type Error occurred when creating object: Ebizmarts\\Mandrill\\Model\\Transport\\Interceptor",
  "1": "<pre>#1 Magento\\Framework\\ObjectManager\\Factory\\Compiled->create() called at [

[2019-12-13 21:53] gonzaloebiz commented on #129
Hi @Elamurugan-Nallathambi

for magento 2.3 please use this https://github.com/ebizmarts/magento2-mandrill-smtp/releases

Best

[2019-12-13 21:53] #129 closed, assigned to nobody

[2019-12-13 23:00] Elamurugan-Nallathambi commented on #129
@gonzaloebiz Thanks for pointing at right repo. I no longer able to send test email from this extension, do I still need to configure another SMTP extension to make use of Mandrill extension SMTP service? Currently after configuring it when I try send email from admin am not getting any emails.

[2019-12-14 12:32] gonzaloebiz commented on #129
You need to uninstall this extension

[2019-12-14 13:03] Elamurugan-Nallathambi commented on #129
Removed this extension, added the `ebizmarts/magento2-mandrillsmtp:102.3.3` extension, ran complete clean up, from M2 took care of all setup:up process and this domain is running with in a VPN network. No other mailing lib configured/setup in this server/environment. When I try forgot password request either from admin or from customer end not getting emails.

[2019-12-14 15:50] gonzaloebiz commented on #129
Hi @Elamurugan-Nallathambi

you already take a look at the magento logs and php logs?

[2019-12-14 19:12] Elamurugan-Nallathambi commented on #129
No logs found regarding the smtp or mailing. My configuration looks like this

![Screen Shot 2019-12-14 at 2 07 19 PM](https://user-images.githubusercontent.com/54947876/70853374-36f41d00-1e7b-11ea-92c7-edf8293c9584.png)

Mail Sending settings under Stores > Config > Advanced > System
![Screen Shot 2019-12-14 at 2 09 04 PM](https://user-images.githubusercontent.com/54947876/70853385-4a9f8380-1e7b-

[2019-12-17 04:17] Elamurugan-Nallathambi commented on #129
@gonzaloebiz is there any integration document/guide to show how Mailchimp/mandril smtp mailing service can/will work with Magento 2 and where we can see sent mail log?

From the same account under different sub account we are able to send out emails from Magento 1, with Magento 2 only we are not able to do so. From server all incoming/outgoing ports are open and firewall issue.

[2020-02-05 10:59] shrma-smit commented on #127
@gonzaloebiz We were using the Ebizmarts Mandrill extension earlier and the variables we've created were successfully passed in the Mandrill. This extension only supports Magento 2.3.2 as you've mentioned above.

We've upgraded the Magento to 2.3.3 on our website and installed the alternative solution Ebizmarts MandrillSmtp (https://github.com/ebizmarts/magento2-mandrill-smtp) for this extension.

[2020-02-18 14:11] mohdali27 opened #130 "Error while run composer with php 7.3.14"
I am using the magento 2.3.4 and php 7.3.14 .
When i install the extension using composer(composer require ebizmarts/magento2-mandrill:3.2.17)
I am getting the below error and unable to install this. Please check and fix the issue.

Problem 1
    - magento/module-sales 101.0.10 requires php ~7.0.13||~7.1.0||~7.2.0 -> your PHP version (7.3.14) does not satisfy that requirement.
    - magento/module

[2020-02-18 14:39] gonzaloebiz commented on #130
This version is not compatible with magento 2.3.4, please use https://github.com/ebizmarts/magento2-mandrill-smtp

Best

[2020-02-18 14:39] #130 closed, assigned to nobody

[2020-06-14 14:39] 234146326 commented on #84
`use Magento\Framework\Object;`

I have this class in my theme module.

When I compiled, it reported this kind of error.

Has the problem of the landlord been solved?Thanks Reply.
@centerax @gonzaloebiz @pratikkamani @syedsaleem086 @nhudson76

[2020-06-15 18:44] gonzaloebiz commented on #84
What version of magento and mandrill are you using?

[2020-08-21 22:24] haneef-faisal opened #131 "3.3.16 - Error During Configuration & eMails not being sent"
Completed set via composer
composer require ebizmarts/magento2-mandrill:3.3.16
php bin/magento setup:upgrade
php bin/magento setup:static-content:deploy

Log into Admin; Navigate to Stores --> Configuration --> MailChimp --> Mandrill
Enable Extension; Update API Key; Enable Log
Fill in valid email id in the field "send test email to"
click "Send Test Email"
Expected: Test eMail Should be sent to t

[2020-08-31 13:36] centerax commented on #131
![](https://github.trello.services/images/mini-trello-icon.png) [issue mandrill installation](https://trello.com/c/LnyZqIVD/40-issue-mandrill-installation)

[2020-08-31 19:04] gonzaloebiz commented on #131
Hi @haneef-faisal

for magento 2.3.5 please take a look at https://github.com/ebizmarts/magento2-mandrill-smtp/releases

Best

[2020-08-31 19:04] #131 closed, assigned to nobody

[2020-08-31 19:08] #120 closed, assigned to nobody

[2020-08-31 19:35] #122 closed, assigned to nobody

[2020-09-01 09:51] MarcusWolschon commented on #122
Seriously?

[2020-12-02 08:37] tuyennn commented on #11
This must be put to README.md for leading instruction.